<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/visit/css/main.css">
  <title>ЭкоНатурПродукт</title>
  <link rel="stylesheet" href="/static/visit/css/misha1.css"/>
  <link type="Image/x-icon" href="/static/visit/logo/logo_compani.ico" rel="icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(90585634, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/90585634" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</head>
<body>

  <!--start header-->
  <header class="header">
          <div class="header_container">

              <a href="/" class="logo">
                  <img src="/static/visit/logo/logo_compani.png" alt="logo">
              </a>
              <div class="header_info">
                  <p class="name_header">Торговая Компания</p>
                  <p class="name_header_2">ЭкоНатурПродукт</p>
                  <p class="name_header_3">г. Самара</p>
              </div>
                  <a class="navi_link">Офис: (846) 207 56 54 <br><br> Сот:  +7 (986) 953 14 33<br><br> info@econaturprodukt.ru</a>

          </div>
              <div class="price">
                      <a class="price_style" href="?download=excel">Прайс-лист</a>
                      <div class="exel_png">
                          <img src="/static/visit/icon/pdf.png">
                      </div>
              </div>

  </header>
  <!--end header-->
  <div class="catalog">
    {% for category in categories %}
      <a type="button" id="catalog_button_0" class="catalog_button_0" href="{% url 'catalog_category' category.slug %}">{{ category.title }}</a>
   {% endfor %}

      <script src="/static/visit/js/script.js"></script>
  </div>
  <!--
  <div class="catalog">
    <button type="button" id="catalog_button_10" class="catalog_button_0">Все</button>
    <button type="button" id="catalog_button_0" class="catalog_button_0">Десерты</button>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <a href="catalog" class="modal-link">Консервированные</a>
        <a href="catalog" class="modal-link">В индивидуальной<br>упаковке</a>
      </div>
    </div>
    <button type="button" id="catalog_button_1" class="catalog_button_1">Индивидуальный рацион питания</button>
    <div id="myModal1" class="modal1">
      <div class="modal-content1">
        <a href="catalog" class="modal-link1">В брикетах</a>
        <a href="catalog" class="modal-link1">В пакетах</a>
      </div>
    </div>
    <button type="button" id="catalog_button_2" class="catalog_button_2">Каши</button>
    <div id="myModal2" class="modal2">
      <div class="modal-content2">
        <a href="catalog" class="modal-link2">В пакетах</a>
        <a href="catalog" class="modal-link2">В стаканах</a>
        <a href="catalog" class="modal-link2">По весу</a>
      </div>
    </div>
    <button type="button" id="catalog_button_3" class="catalog_button_3">Кисели</button>
    <div id="myModal3" class="modal3">
      <div class="modal-content3">
        <a href="catalog" class="modal-link3">В пакетах</a>
        <a href="catalog" class="modal-link3">В брикетах</a>
      </div>
    </div>
    <button type="button" id="catalog_button_4" class="catalog_button_3">Консервы</button>
    <div id="myModal4" class="modal4">
      <div class="modal-content4">
        <a href="catalog" class="modal-link4">Мясные</a>
        <a href="catalog" class="modal-link4">Овощные</a>
        <a href="catalog" class="modal-link4">Рыбные</a>
        <a href="catalog" class="modal-link4">Десерты</a>
      </div>
    </div>
    <button type="button" id="catalog_button_5" class="catalog_button_5">Макароны, крупы и хлопья</button>
    <div id="myModal5" class="modal5">
      <div class="modal-content5">
        <a href="catalog" class="modal-link5">В пакетах</a>
        <a href="catalog" class="modal-link5">В стаканах</a>
        <a href="catalog" class="modal-link5">По весу</a>
      </div>
    </div>
    <button type="button" id="catalog_button_6" class="catalog_button_6">Пловы</button>
    <div id="myModal6" class="modal6">
      <div class="modal-content6">
        <a href="catalog" class="modal-link6">В пакетах</a>
        <a href="catalog" class="modal-link6">По весу</a>
      </div>
    </div>
    <button type="button" class="catalog_button_7">Подарочные наборы</button>
    <button type="button" id="catalog_button_8" class="catalog_button_8">Супы</button>
    <div id="myModal8" class="modal8">
      <div class="modal-content8">
        <a href="catalog" class="modal-link8">В пакетах</a>
        <a href="catalog" class="modal-link8">По весу</a>
      </div>
    </div>
    <button type="button"  id="catalog_button_9" class="catalog_button_9">Сублимированные продукты</button>
    <div id="myModal9" class="modal9">
      <div class="modal-content9">
        <a href="catalog" class="modal-link9">В пакетах</a>
      </div>
    </div>
    <script src="/static/visit/js/script.js"></script>
  </div>
  -->
  <div class="c_container">
    {% for item in products %}
    <a class="c_container" href="/product/{{ item.pk }}">
      <div class="wrapper">
          <div class="container">
            {% if item.image_1 %}
            <div class="top"> <img src="/media/{{ item.image_1 }}" width=100%> </div>
            {% else %}
            <div class="top"> <img src="/media/noimage/no-image.jpg" width=100%> </div>
            {% endif %}
            <div class="bottom">
              <div class="left">
                <div class="details">
                  <p class="name">{{ item.name }}</p>
                      {% if item.prise %}
                      <p>Цена: {{ item.prise }} &nbsp Вес: {{ item.weight }}</p>
                      {% endif %}
                      {% if item.prise_2 %}
                      <p>Цена: {{ item.prise_2 }} &nbsp Вес: {{ item.weight_2 }}</p>
                      {% endif %}
                      {% if item.prise_3 %}
                      <p>Цена: {{ item.prise_3 }} &nbsp Вес: {{ item.weight_3 }}</p>
                      {% endif %}
                </div>
              </div>
            </div>
          </div>
   </div>
   </a>
   {% endfor %}
</div>
<!--Start footer-->

    <footer class="footer">
        <div class="footer_wrap">
            <div class="first">
                <p class="footer_info"> Офис: (846) 207 56 54 <br>
                    Сот: +7 (986) 953 14 33<br>
                    Почта: info@econaturprodukt.ru
                </p>
                <a href="https://api.whatsapp.com/send?phone=79869531433"><img class="whatsapp" src="/static/visit/icon/whatsapp.png"></a>
            </div>
            <div class="second">
                <a href="#" class="links_style">О компании</a>
                <a href="/partners" class="links_style">Партнеры</a>
                <a href="/coop" class="links_style">Сотрудничество</a>
                <a href="/delivery" class="links_style">Доставка</a>
                <a href="#" class="links_style">Сертификаты</a>
                <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="links_style">Политика конфеденциальности</a>
            </div>
            <div class="third">
                <p class="footer_company"><img src="/static/visit/logo/logo_compani.png"></p>
                <p class="footer_OOO">ООО “ТК” ЭкоНатурПродукт”</p>
            </div>
        </div>
    </footer>
    <!--End footer-->

</body>
</html>
