<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="static/visit/icon/icon_compani.ico" />
  <title>Space nutrition in tubes buy price from 260 rubles in Moscow</title>
  <link rel="stylesheet" href="/static/visit/css/main.css">
  <title>Unapp</title>
</head>
<body>
  <div id="container">
    <!--start header-->
    <header class="header">
      <div class="container header_container">

        <a href="index_eng" class="logo">
          <img src="/static/visit/logo/logo_compani.png" alt="logo">
        </a>
        <nav class="navi header_navi">
          <a href="catalog_eng" class="navi_link">CATALOG</a>
          <a href="delivery_eng" class="navi_link">DELIVERY</a>
          <a href="catalog" class="navi_link">ENG</a>

        </nav>
      </div>
    </header>
    <!--end header-->

    <!--Start footer-->
    <footer class="footer">
      <!--див для почты и телефона-->
      <div class="info">
        <p>Mail: ros-prodykt@yandex.ru <br>
          Phone number: +7 (986) 953 14 33
        </p>
        <!--вставляем в этот див картинку компании-->
        <p class="company"><img src="static/visit/logo/logo_compani.png"></p>
      </div>
      <!--див для картинки вацапа-->
      <div class = "fow_watsapp">
        <a class="whatsapp"><img src="static/visit/icon/whatsapp.png"></a>

      </div>
      <!--Див для нижней надписи с названием компании-->
      <div class="OOO">
        <p>ООО 'Trade company' EcoNaturProduct'.</p>
      </footer>
      <!--End footer-->


    </div>
  </body>
  </html>
