<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/visit/css/main.css">
    <title>ЭкоНатурПродукт</title>
    <link type="Image/x-icon" href="/static/visit/logo/logo_compani.ico" rel="icon">
<!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(90585634, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/90585634" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </head>
<body>

  <!--start header-->
  <header class="header">
          <div class="header_container">

              <a href="/" class="logo">
                  <img src="/static/visit/logo/logo_compani.png" alt="logo">
              </a>
              <div class="header_info">
                  <p class="name_header">Торговая Компания</p>
                  <p class="name_header_2">ЭкоНатурПродукт</p>
                  <p class="name_header_3">г. Самара</p>
              </div>
                  <a class="navi_link">Офис: (846) 207 56 54 <br><br> Сот:  +7 (986) 953 14 33<br><br> info@econaturprodukt.ru</a>

          </div>
              <div class="price">
                      <a class="price_style" href="?download=excel">Прайс-лист</a>
                      <div class="exel_png">
                          <img src="/static/visit/icon/pdf.png">
                      </div>
              </div>

  </header>
  <!--end header-->

    <div class="catalog">
      {% for category in categories %}
        <a type="button" id="catalog_button_0" class="catalog_button_0" href="{% url 'catalog_category' category.slug %}">{{ category.title }}</a>
     {% endfor %}

        <script src="/static/visit/js/script.js"></script>
    </div>


<div id="container">

<!--start info-->
    <div class="delivery">
            <p class="delivery_left1">Условия доставки</p><br>
            <p class="delivery_left1">Доставка возможна при заказе от 1000 кг. любого вида продукции.</p>
            <p class="delivery_left">Доставка продуктов осуществляется по всей России. Выберите наиболее удобную для Вас
                грузовую компанию в вашем регионе и в комментарии к заказу напишите название этой
                компании. После выставления и оплаты счета мы осуществим отправку заказа на Ваш
                адрес и сообщим трек номер с кодом груза.
                Отгрузка продукции производится со склада в Московской области.</p>
                <p class="delivery_left1">Способы оплаты:</p>
                <p class="delivery_left">Безналичным платежом по выставленному счету. Отгрузка осуществляется от
                компании, работающей с НДС.</p>

                <p class="delivery_left1">Мы предоставляем:</p>
                <p class="delivery_left">1)Круглосуточный прием заказов через наш сайт, с учетом Ваших пожеланий по
                времени доставки;
                <p class="delivery_left">2)Жесткий контроль качества, производимый на всех этапах хранения и при сборке
                каждого заказа;</p>
                <p class="delivery_left">3)Возможность фиксирования цены на неделю;</p>

                <p>Офис: (846) 207 56 54<br>
                Сот:  +7 (986) 953 14 33<br>
                Почта: info@econaturprodukt.ru</p>
            <div class = "fow_watsapp_delivery">
                <a href="https://api.whatsapp.com/send?phone=79869531433"><img src="/static/visit/icon/whatsapp.png"></a>
            </div>
              <br>
            <p class="info_delivery">Адрес:<br>г.Самара ул.Дачная д.2 корп.2 оф.514</p>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d391.16413939886286!2d50.14125787535164!3d53.20150458420632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41661e8994917cf5%3A0x6fb76a47f471ab62!2z0YPQuy4g0JTQsNGH0L3QsNGPLCAyLCDQodCw0LzQsNGA0LAsINCh0LDQvNCw0YDRgdC60LDRjyDQvtCx0LsuLCA0NDMwMTM!5e0!3m2!1sru!2sru!4v1664013536526!5m2!1sru!2sru" ></iframe>
    </div>
<!--end info-->

</div>

<!--Start footer-->

    <footer class="footer">
        <div class="footer_wrap">
            <div class="first">
                <p class="footer_info"> Офис: (846) 207 56 54 <br>
                    Сот: +7 (986) 953 14 33<br>
                    Почта: info@econaturprodukt.ru
                </p>
                <a href="https://api.whatsapp.com/send?phone=79869531433"><img class="whatsapp" src="/static/visit/icon/whatsapp.png"></a>
            </div>
            <div class="second">
                <a href="#" class="links_style">О компании</a>
                <a href="partners" class="links_style">Партнеры</a>
                <a href="coop" class="links_style">Сотрудничество</a>
                <a href="delivery" class="links_style">Доставка</a>
                <a href="#" class="links_style">Сертификаты</a>
                <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="links_style">Политика конфеденциальности</a>
            </div>
            <div class="third">
                <p class="footer_company"><img src="/static/visit/logo/logo_compani.png"></p>
                <p class="footer_OOO">ООО “ТК” ЭкоНатурПродукт”</p>
            </div>
        </div>
    </footer>
    <!--End footer-->

</body>
</html>
