<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/visit/css/main_ing.css">
    <title>ЭкоНатурПродукт</title>
    <link type="Image/x-icon" href="/static/visit/logo/logo_compani.ico" rel="icon">
  </head>
  <body>
<div id="container">
    <!--start header-->
    <header class="header">
        <div class="container header_container">

            <a href="index_eng" class="logo">
              <img src="/static/visit/logo/logo_compani.png" alt="logo">
            </a>
            <h1 class="name_header">Торговая Компания<br><p class="name_header_2">ЭкоНатурПродукт</p></h1>
            <nav class="navi header_navi">
              <a href="#" class="navi_link">CATALOG</a>
              <a href="delivery_eng" class="navi_link">DELIVERY</a>
              <a href="delivery" class="navi_link">ENG<img class="flag" src="/static/visit/img/eng.png"></a>

            </nav>
        </div>
      </header>
  <!--end header-->
<!--start info-->
    <div class="delivery">
            <p class="info_delivery">Phone number: +7 (986) 953 14 33</p>
            <p class="info_delivery">E-mail: ros-prodykt@yandex.ru</p>
            <div class = "fow_watsapp_delivery">
                <a href="https://api.whatsapp.com/send?phone=79869531433"><img src="/static/visit/icon/whatsapp.png"></a>
              </div>
              <br>
            <p class="info_delivery">Address:<br>2 Dachnaya pav. 2  off. 514 Samara</p>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d391.16413939886286!2d50.14125787535164!3d53.20150458420632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41661e8994917cf5%3A0x6fb76a47f471ab62!2z0YPQuy4g0JTQsNGH0L3QsNGPLCAyLCDQodCw0LzQsNGA0LAsINCh0LDQvNCw0YDRgdC60LDRjyDQvtCx0LsuLCA0NDMwMTM!5e0!3m2!1sru!2sru!4v1664013536526!5m2!1sru!2sru" ></iframe>
    </div>
<!--end info-->



<!--Start footer-->

    <footer class="footer">
        <div class="footer_wrap">
        <!--див для почты и телефона-->
            <div class="footer_certificate">
                <a href="certificate.html" id="certificate">Certificates</a>
            </div>
            <div class="footer_info">
                <p>E-mail: ros-prodykt@yandex.ru <br>
                Phone number: +7 (986) 953 14 33
                </p>
                <!--вставляем в этот див картинку компании-->
                <p class="footer_company"><img src="/static/visit/logo/logo_compani.png"></p>

            </div>
            <!--див для картинки вацапа-->
            <div class = "for_watsapp">
                <a href="https://api.whatsapp.com/send?phone=79869531433" class="whatsapp"><img src="/static/visit/icon/whatsapp.png"></a>

            </div>
      <!--Див для нижней надписи с названием компании-->
            <div class="footer_OOO">
                <p>ООО 'ТК' ЭкоНатурПродукт'.</p>
            </div>
        </div>
    </footer>
<!--End footer-->



</div>
</body>
</html>
