<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
        />
        <link rel="stylesheet" href="/static/visit/css/main_ing.css">
        <title>ЭкоНатурПродукт</title>
        <link type="Image/x-icon" href="/static/visit/logo/logo_compani.ico" rel="icon">
        <link rel="stylesheet" href="/static/visit/css/misha.css"/>
        <link
            rel="stylesheet"
            href="/static/visit/css/style.css"
        />

        <style>
            .swiper {
                height: 430px;
                width: 1000px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10px 10px 10px 10px;

            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                border-radius: 10px 10px 10px 10px;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }

            .swiper-slide img {
                margin-left: auto;
                margin-right: auto;
                width: 70%;
                height: 50%;
                object-fit: cover;
            }
        </style>
  </head>
  <body>
<div id="container">
<!--start header-->
    <header class="header">
      <div class="container header_container">

          <a href="index_eng" class="logo">
            <img src="/static/visit/logo/logo_compani.png" alt="logo">
          </a>
          <h1 class="name_header">Торговая Компания<br><p class="name_header_2">ЭкоНатурПродукт</p></h1>
          <nav class="navi header_navi">
            <a href="#" class="navi_link">CATALOG</a>
            <a href="delivery_eng" class="navi_link">DELIVERY</a>
            <a href="/" class="navi_link">ENG<img class="flag" src="/static/visit/img/eng.png"></a>

          </nav>
      </div>
    </header>
<!--end header-->

    <div class="invite">
        <p>We invite you to cooperate!</p>
    </div>

<!--start swiper-->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" >
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 1</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 3</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 4</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 5</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 6</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 7</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 8</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="a" href='#'>
          <div class="wrapper">
            <div class="container">
              <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h1>TEST</h1>
                    <p>125 р.</p>
                    <p class="details_id"> id - 9</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
<!--end swiper-->

<!--start compani-->
    <div class="compani">
      <p class="compani_1">ABOUT COMPANY</p>
      <br>
      <p class="compani_2">Limited Liability Company "Trading company "Econaturprodukt" is a supplier of products
        Biryulevsky Experimental Plant<br> (BEP), specializing in the production of special-purpose products.
        <br><br>
        The main vector of the plant's activity is the creation of food products for representatives of space departments and for<br>
        spacecraft crews, as well as rescue floating facilities, emergency situations and the Ministry of Emergency Situations.
        <br>The advantage of products manufactured at the BEP is its exceptional quality. Since the factory is a supplier for
        cosmonauts<br> and government agencies, the manufactured products are made on the basis of natural raw materials without
        adding<br> any dyes, artificial thickeners, stabilizers and preservatives.

      </div>
<!--end compani-->


<!--start request-->
    <div class="request">
         <p class="ostavit">Leave a request</p>
        <div class="request_container">
            <form class="request_form" id="data">
            <input type="email" class="request_email" placeholder="Whire E-mail " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <!--tel-->
            <!--input type="tel" class="request_tel" pattern="7[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Телефон"-->
            <!--tel-->
            <input type="text" class="request_name" placeholder="Name">
            <textarea class="request_message" placeholder="Message"></textarea>
                <div class="request_checkbox_div">
                <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="request_legend">By leaving a request, you accept the privacy policy:</a>
                <input type="checkbox" required class="request_checkbox">
                </div>
            <button type="submit" class="request_button" form="data">Send</button>
            </form>
        </div>
    </div>

<!--edn request-->


<!--start mailing list-->
    <div class="mailing_list">
      <p class="mailing">I want to be notified about new arrivals </p>

      <div class="container__item">
        <form class="form" id="data1">
          <input type="email" class="form__field" placeholder="Your E-Mail " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
          <button type="submit" class="btn btn--primary btn--inside uppercase" form="data1">send</button>
          <div class="form_checkbox_div">
            <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="form_legend">By leaving a request, you accept the privacy policy:</a>
            <input type="checkbox" required class="form_checkbox">
          </div>
        </form>
      </div>
    </div>
<!--edn mailing list-->

<!--Start footer-->

    <footer class="footer">
        <div class="footer_wrap">
        <!--див для почты и телефона-->
            <div class="footer_certificate">
                <a href="certificate.html" id="certificate">Certificates</a>
            </div>
            <div class="footer_info">
                <p>E-mail: ros-prodykt@yandex.ru <br>
                Phone number: +7 (986) 953 14 33
                </p>
                <!--вставляем в этот див картинку компании-->
                <p class="footer_company"><img src="/static/visit/logo/logo_compani.png"></p>

            </div>
            <!--див для картинки вацапа-->
            <div class = "for_watsapp">
                <a href="https://api.whatsapp.com/send?phone=79869531433" class="whatsapp"><img src="/static/visit/icon/whatsapp.png"></a>

            </div>
      <!--Див для нижней надписи с названием компании-->
            <div class="footer_OOO">
                <p>ООО 'ТК' ЭкоНатурПродукт'.</p>
            </div>
        </div>
    </footer>
<!--End footer-->


</div>
  </body>
</html>
