<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/visit/css/main_ing.css">
    <title>Unapp</title>
  </head>
  <body>
<div id="container">
<!--start header-->
    <header class="header">
      <div class="container header_container">

          <a href="index_eng" class="logo">
            <img src="/static/visit/logo/logo_compani.png" alt="logo">
          </a>
          <nav class="navi header_navi">
            <a href="catalog_eng" class="navi_link">CATALOG</a>
            <a href="delivery_eng" class="navi_link">DELIVERY</a>
            <a href="/" class="navi_link">ENG</a>

          </nav>
      </div>
    </header>
<!--end header-->

<br>

<!--start compani-->
    <div class="compani">
      <p class="compani_1">ABOUT COMPANY</p>
      <br>
      <p class="compani_2">Limited Liability Company "Trading company "Econaturprodukt" is a supplier of products
        Biryulevsky Experimental Plant (BEP),<br> specializing in the production of special-purpose products.
        <br><br>
        The main vector of the plant's activity is the creation of food products for representatives of space departments and for
        spacecraft crews,<br> as well as rescue floating facilities, emergency situations and the Ministry of Emergency Situations.
        The advantage of products manufactured<br> at the BEP is its exceptional quality. Since the factory is a supplier for
        cosmonauts and government agencies, the manufactured products are<br> made on the basis of natural raw materials without
        adding any dyes, artificial thickeners, stabilizers and preservatives.

      </div>
<!--end compani-->


<!--start request-->
<div class="request">
     <p class="ostavit">Leave a request</p>
    <div class="request_container">
        <form action="." method="post" class="request_form" id="data">{% csrf_token %}
        <input type="email" class="request_email" name="mail" placeholder="Enter E-Mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <!--tel-->
        <!--input type="tel" class="request_tel" pattern="7[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Телефон"-->
        <!--tel-->
        <input type="text" class="request_name" name="name" placeholder="Name">
        <textarea class="request_message" name='message' placeholder="Message"></textarea>
            <div class="request_checkbox_div">
        <a href="#" class="request_legend">By leaving a request, you accept the privacy policy:</a>
        <input type="checkbox" required class="request_checkbox">
            </div>
        <button type="submit" class="request_button" form="data">Send</button>
        </form>
    </div>
</div>

<!--edn request-->


<!--start mailing list-->
    <div class="mailing_list">
      <p class="mailing">I want to be notified about new arrivals </p>

      <div class="container__item">
        <form class="form">
          <input type="email" class="form__field" placeholder="Your E-Mail " />
          <button type="button" class="btn btn--primary btn--inside uppercase">send</button>
        </form>
      </div>
    </div>
<!--edn mailing list-->

<!--Start footer-->

    <footer class="footer">
      <!--див для почты и телефона-->
      <div class="info">
      <p>E-mail: ros-prodykt@yandex.ru <br>
        Phone number: +7 (986) 953 14 33
      </p>
       <!--вставляем в этот див картинку компании-->
      <p class="company"><img src="/static/visit/logo/logo_compani.png"></p>
      </div>
      <!--див для картинки вацапа-->
  <div class = "fow_watsapp">
      <a href="https://api.whatsapp.com/send?phone=79869531433" class="whatsapp"><img src="/static/visit/icon/whatsapp.png"></a>

  </div>
  <!--Див для нижней надписи с названием компании-->
  <div class="OOO">
      <p>ООО 'Торговая компания' ЭкоНатурПродукт'.</p>
  </footer>
<!--End footer-->


</div>
  </body>
</html>
