<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
  />
  <link rel="stylesheet" href="/static/visit/css/main.css">
  <title>ЭкоНатурПродукт</title>
  <link type="Image/x-icon" href="/static/visit/logo/logo_compani.ico" rel="icon">
  <link rel="stylesheet" href="/static/visit/css/misha.css"/>
  <link
  rel="stylesheet"
  href="/static/visit/css/style.css"
  />
  <style>
  .swiper {
    height: 430px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 10px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
  }
  </style>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(90585634, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/90585634" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</head>
<body>
  <!--start header-->
  <header class="header">
          <div class="header_container">

              <a href="/" class="logo">
                  <img src="/static/visit/logo/logo_compani.png" alt="logo">
              </a>
              <div class="header_info">
                  <p class="name_header">Торговая Компания</p>
                  <p class="name_header_2">ЭкоНатурПродукт</p>
                  <p class="name_header_3">г. Самара</p>
              </div>
                  <a class="navi_link">Сот:  +7 (986) 953 14 33 <br><br> Офис:+7 (846) 207 56 54<br><br> info@econaturprodukt.ru</a>

          </div>
              <div class="price">
                      <a class="price_style" href="#">Прайс-лист</a>
                      <div class="exel_png">
                          <img src="/static/visit/icon/pdf.png">
                      </div>
              </div>

  </header>
  <!--end header-->

  <div class="catalog">
    {% for category in categories %}
    <a type="button" id="catalog_button_0" class="catalog_button_0" href="{% url 'catalog_category' category.slug %}">{{ category.title }}</a>
    {% endfor %}

    <script src="/static/visit/js/script.js"></script>
  </div>

  <div id="container" class="container">
    <!--start swiper-->
    <div class="swiper mySwiper">

      <div class="swiper-wrapper">
        {% for item in carusel_product %}
        <div class="swiper-slide" >
          <a class="a" href='/product/{{ item.pk }}'>
            <div class="wrapper">
              <div class="container">
                <div class="top"> <img src="https://cosmofeed.ru/image/cache/catalog/product/kosmicheskoe_pitanie/myasnye_blyuda/azu/azu_1-255x320.jpg" width=100%> </div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">
                      <p class="name">{{ item.name }}</p>
                      <div class="details_id">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 3,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    </script>
    <!--end swiper-->

    <!--start compani-->
    <div class="compani">
      <p class="compani_1">О КОМПАНИИ</p>
      <br>
      <p class="compani_2">Общество с ограниченной ответственностью "Торговая компания "Эконатурпродукт" является поставщиком продукции<br> Бирюлевского Экспериментального Завода (БЭЗ), специализирующегося на создании продукции<br> специального назначения.
        <br><br>
        Основной вектор деятельности завода — это создание продуктов питания для представителей космических ведомств<br> и для экипажей космических кораблей, а также спасательных плавательных средств, экстренных ситуаций и МЧС.
        <br>Преимуществом выпускаемой продукции на БЭЗ является её исключительное качество. Так как завод является<br> поставщиком для космонавтов и других государственных структур, то вся выпускаемая продукция производится<br> на основе натурального сырья без добавления каких-либо красителей, искусственных загустителей,<br> стабилизаторов и консервантов.</p>
      </div>
      <!--end compani-->


      <!--start request-->
      <div class="request">
        <p class="ostavit">Оставить запрос</p>
        <div class="request_container">
          <form class="request_form" id="data" method="post"> {% csrf_token %}
            <input type="email" required class="request_email" placeholder="Введите E-Mail " name="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <!--tel-->
            <!--input type="tel" class="request_tel" pattern="7[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Телефон"-->
            <!--tel-->
            <input type="text" required class="request_name" placeholder="Имя" name="name">
            <input type="text" required class="request_name" placeholder="Город" name="sity">
            <textarea class="request_message" required placeholder="Сообщение" name="message"></textarea>
            <div class="request_checkbox_div">
              <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="request_legend">Оставляя заявку, вы принимаете политику конфиденциальности:</a>
              <input type="checkbox" required class="request_checkbox">
            </div>
            <input type="submit" class="request_button" form="data" value="Отправить" name="ContactForm">
          </form>
        </div>
      </div>

      <!--end request-->


      <!--start mailing list-->
      <div class="mailing_list">
        <p class="mailing">Я хочу получать сообщение о новых поступлениях </p>

        <div class="container__item">
          <form class="form" id="data1" method="post"> {% csrf_token %}
          <input type="email" required class="form__field" name="mail_mailler" placeholder="Ваш E-Mail " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
          <input type="submit" class="btn btn--primary btn--inside uppercase" form="data1" value="Отправить" name="Mailing">
            <div class="form_checkbox_div">
              <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="form_legend">Оставляя заявку, вы принимаете политику конфиденциальности:</a>
              <input type="checkbox" required class="form_checkbox">
            </div>
          </form>
        </div>
      </div>
      <!--end mailing list-->



    </div>
    <!--Start footer-->

    <footer class="footer">
        <div class="footer_wrap">
            <div class="first">
                <p class="footer_info">Почта: info@econaturprodukt.ru <br>
                    Сот: +7 (986) 953 14 33<br>
                    Офис: +7 (846) 207 56 54
                </p>
                <a href="https://api.whatsapp.com/send?phone=79869531433"><img class="whatsapp" src="/static/visit/icon/whatsapp.png"></a>
            </div>
            <div class="second">
                <a href="#" class="links_style">О компании</a>
                <a href="partners" class="links_style">Партнеры</a>
                <a href="#" class="links_style">Сотрудничество</a>
                <a href="delivery" class="links_style">Доставка</a>
                <a href="#" class="links_style">Сертификаты</a>
                <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="links_style">Политика конфеденциальности</a>
            </div>
            <div class="third">
                <p class="footer_company"><img src="/static/visit/logo/logo_compani.png"></p>
                <p class="footer_OOO">ООО 'ТК' ЭкоНатурПродукт'.</p>
            </div>
        </div>
    </footer>
    <!--End footer-->
  </body>
  </html>
