<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/visit/css/main.css">
    <link rel="shortcut icon" href="static/visit/icon/icon_compani.ico" />
    <title>Космическое питание в тюбиках купить цена от 260 рублей в Москве</title>
  </head>
  <body>

    <header class="header">
      <div class="container header_container">

          <a href="/" class="logo">
            <img src="static/visit/logo/logo_compani.png" alt="logo">
          </a>

          <nav class="navi header_navi">
            <a href="#" class="navi_link">КАТАЛОГ</a>
            <a href="#" class="navi_link">КОНТАКТЫ</a>
            <a href="#" class="navi_link">RUS</a>

          </nav>
      </div>
    </header>

    <div class="lol">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
      </svg>
      </div>

  </body>
</html>
