<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/visit/css/main.css">
  <title>ЭкоНатурПродукт</title>
  <link type="Image/x-icon" href="/static/visit/logo/logo_compani.ico" rel="icon">
</head>
<body>
  <div id="container">
  <!--start header-->
  <header class="header">
          <div class="header_container">

              <a href="/" class="logo">
                  <img src="/static/visit/logo/logo_compani.png" alt="logo">
              </a>
              <div class="header_info">
                  <p class="name_header">Торговая Компания</p>
                  <p class="name_header_2">ЭкоНатурПродукт</p>
                  <p class="name_header_3">г. Самара</p>
              </div>
                  <a class="navi_link">Офис: (846) 207 56 54 <br><br> Сот:  +7 (986) 953 14 33<br><br> info@econaturprodukt.ru</a>

          </div>
              <div class="price">
                      <a class="price_style" href="?download=excel">Прайс-лист</a>
                      <div class="exel_png">
                          <img src="/static/visit/icon/pdf.png">
                      </div>
              </div>

  </header>
  <!--end header-->
    <div class="catalog">
      {% for category in categories %}
      <a type="button" id="catalog_button_0" class="catalog_button_0" href="{% url 'catalog_category' category.slug %}">{{ category.title }}</a>
      {% endfor %}

      <script src="/static/visit/js/script.js"></script>
    </div>


    <!--start carousel picture-->
    <div id="content-wrapper">


      <div class="column">
        {% if product.image_1 %}
        <img id=featured src="/media/{{ product.image_1 }}">
        {% else %}
        <img id=featured src="/media/noimage/no-image.jpg">
        {% endif %}
        <div id="slide-wrapper" >


          <div id="slider">
            {% if product.image_1 %}
            <img class="thumbnail active" src="/media/{{ product.image_1 }}">
            {% else %}
            <img class="thumbnail active" src="/media/noimage/no-image.jpg">
            {% endif %}
            {% if product.image_2 %}
            <img class="thumbnail active" src="/media/{{ product.image_2 }}">
            {% endif %}
            {% if product.image_3 %}
            <img class="thumbnail active" src="/media/{{ product.image_3 }}">
            {% endif %}
            {% if product.image_4 %}
            <img class="thumbnail active" src="/media/{{ product.image_4 }}">
            {% endif %}
            {% if product.image_5 %}
            <img class="thumbnail active" src="/media/{{ product.image_5 }}">
            {% endif %}
            {% if product.image_6 %}
            <img class="thumbnail active" src="/media/{{ product.image_6 }}">
            {% endif %}
          </div>


        </div>
      </div>

      <div class="column">
        <h1>{{ product.name }}</h1>
        <hr>
        {% if product.prise and product.weight and product.type_of_packaging %}
        <h4>Цена: {{ product.prise }} &nbsp Вес: {{ product.weight }} &nbsp Тип упаковки: {{ product.type_of_packaging }} &nbsp Количество от: {{ product.quantity_from }}</h4>
        {% endif %}

        {% if product.prise_2 and product.weight_2 and product.type_of_packaging_2 %}
        <h4>Цена: {{ product.prise_2 }} &nbsp Вес: {{ product.weight_2 }}  &nbsp Тип упаковки: {{ product.type_of_packaging_2 }} &nbsp Количество от: {{ product.quantity_from_2 }}</h4>
        {% endif %}

        {% if product.prise_3 and product.weight_3 and product.type_of_packaging_3 %}
        <h4>Цена: {{ product.prise_3 }} &nbsp Вес: {{ product.weight_3 }}  &nbsp Тип упаковки: {{ product.type_of_packaging_3 }} &nbsp Количество от: {{ product.quantity_from_3 }}</h4>
        {% endif %}

        {% if product.prise_4 and product.weight_4 and product.type_of_packaging_4 %}
        <h4>Цена: {{ product.prise_4 }} &nbsp Вес: {{ product.weight_4 }}  &nbsp Тип упаковки: {{ product.type_of_packaging_4 }} &nbsp Количество от: {{ product.quantity_from_4 }}</h4>
        {% endif %}

        {% if product.prise_5 and product.weight_5 and product.type_of_packaging_5 %}
        <h4>Цена: {{ product.prise_5 }} &nbsp Вес: {{ product.weight_5 }}  &nbsp Тип упаковки: {{ product.type_of_packaging_5 }} &nbsp Количество от: {{ product.quantity_from_5 }}</h4>
        {% endif %}

        {% if product.prise_6 and product.weight_6 and product.type_of_packaging_6 %}
        <h4>Цена: {{ product.prise_6 }} &nbsp Вес: {{ product.weight_6 }}  &nbsp Тип упаковки: {{ product.type_of_packaging_6 }} &nbsp Количество от: {{ product.quantity_from_6 }}</h4>
        {% endif %}

        <p>{{ product.description }}</p>
        <br>
        <h3>Характеристики</h3>

        {% if product.country_of_origin %}
        <p>Страна производства: {{ product.country_of_origin }}</p>
        {% endif %}

        {% if product.composition %}
        <p>Состав: {{ product.composition }}</p>
        {% endif %}

        {% if product.nutritional_value_of_100_grams %}
        <p>Пищевая ценность 100 грамм: {{ product.nutritional_value_of_100_grams }}</p>
        {% endif %}

        {% if product.energy_value %}
        <p>Энергетическая ценность: {{ product.energy_value }}</p>
        {% endif %}

        {% if product.best_before_date %}
        <p>Срок годности: {{ product.best_before_date }}</p>
        {% endif %}

      </div>

    </div>

    <script type="text/javascript">
    let thumbnails = document.getElementsByClassName('thumbnail')

    let activeImages = document.getElementsByClassName('active')

    for (var i=0; i < thumbnails.length; i++){

      thumbnails[i].addEventListener('mouseover', function(){
        console.log(activeImages)

        if (activeImages.length > 0){
          activeImages[0].classList.remove('active')
        }


        this.classList.add('active')
        document.getElementById('featured').src = this.src
      })
    }


    let buttonRight = document.getElementById('slideRight');
    let buttonLeft = document.getElementById('slideLeft');

    buttonLeft.addEventListener('click', function(){
      document.getElementById('slider').scrollLeft -= 180
    })

    buttonRight.addEventListener('click', function(){
      document.getElementById('slider').scrollLeft += 180
    })


    </script>

    <!--end carousel picture-->



<!--Start footer-->

    <footer class="footer">
        <div class="footer_wrap">
            <div class="first">
                <p class="footer_info"> Офис: (846) 207 56 54 <br>
                    Сот: +7 (986) 953 14 33<br>
                    Почта: info@econaturprodukt.ru
                </p>
                <a href="https://api.whatsapp.com/send?phone=79869531433"><img class="whatsapp" src="/static/visit/icon/whatsapp.png"></a>
            </div>
            <div class="second">
                <a href="#" class="links_style">О компании</a>
                <a href="partners" class="links_style">Партнеры</a>
                <a href="#" class="links_style">Сотрудничество</a>
                <a href="delivery" class="links_style">Доставка</a>
                <a href="#" class="links_style">Сертификаты</a>
                <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="links_style">Политика конфеденциальности</a>
            </div>
            <div class="third">
                <p class="footer_company"><img src="/static/visit/logo/logo_compani.png"></p>
                <p class="footer_OOO">ООО “ТК” ЭкоНатурПродукт”</p>
            </div>
        </div>
    </footer>
    <!--End footer-->


  </div>
</body>
</html>
