<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/visit/css/main.css">
    <title>ЭкоНатурПродукт</title>
    <link type="Image/x-icon" href="/static/visit/logo/logo_compani.ico" rel="icon">
  </head>
  <body>
<div id="container">
    <!--start header-->
    <header class="header">
      <div class="header_container">

          <a href="/" class="logo">
            <img src="/static/visit/logo/logo_compani.png" alt="logo">
          </a>
          <div class="header_info">
              <p class="name_header">Торговая Компания</p>
              <p class="name_header_2">ЭкоНатурПродукт</p>
              <p class="name_header_3">г. Самара</p>
              <nav class="navi header_navi">
              </nav>
          </div>
            <a class="navi_link">Телефон:  +7 (986) 953 14 33 <br><br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp+7 (846) 207 56 54<br><br>&nbsp &nbsp &nbsp &nbsp info@econaturprodukt.ru</a>
      </div>
    </header>
  <!--end header-->


  <!--start carousel picture-->
  <div id="content-wrapper">


		<div class="column">
			<img id=featured src="/static/visit/images/shoe1.jpg">

			<div id="slide-wrapper" >


				<div id="slider">
					<img class="thumbnail active" src="/static/visit/images/shoe1.jpg">
					<img class="thumbnail" src="/static/visit/images/shoe2.jpg">
					<img class="thumbnail" src="/static/visit/images/shoe3.jpg">


				</div>


			</div>
		</div>

		<div class="column">
			<h1>Название продукта</h1>
			<hr>
			<h3>999 руб.</h3>
      <h4>id 1</h4>

			<p>описание</p>
      <br>
      <h3>Характеристики</h3>
      <p>...</p>


		</div>

	</div>

	<script type="text/javascript">
		let thumbnails = document.getElementsByClassName('thumbnail')

		let activeImages = document.getElementsByClassName('active')

		for (var i=0; i < thumbnails.length; i++){

			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages)

				if (activeImages.length > 0){
					activeImages[0].classList.remove('active')
				}


				this.classList.add('active')
				document.getElementById('featured').src = this.src
			})
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


	</script>

  <!--end carousel picture-->



<!--Start footer-->
<footer class="footer">
    <div class="footer_wrap">
        <div class="first">
            <p class="footer_info">Почта: info@econaturprodukt.ru <br>
                Телефон: +7 (986) 953 14 33<br>
                +7 (846) 207 56 54
            </p>
            <a href="https://api.whatsapp.com/send?phone=79869531433"><img class="whatsapp" src="/static/visit/icon/whatsapp.png"></a>
        </div>
        <div class="second">
            <a href="#" class="links_style">О компании</a>
            <a href="#" class="links_style">Партнеры</a>
            <a href="#" class="links_style">Сотрудничество</a>
            <a href="delivery" class="links_style">Доставка</a>
            <a href="#" class="links_style">Сертификаты</a>
            <a href="https://rosstat.gov.ru/politika-konfidencialnosti" class="links_style">Политика конфеденциальности</a>
        </div>
        <div class="third">
            <p class="footer_company"><img src="/static/visit/logo/logo_compani.png"></p>
            <p class="footer_OOO">ООО 'ТК' ЭкоНатурПродукт'.</p>
        </div>
    </div>
</footer>
<!--End footer-->


</div>
</body>
</html>
