body{
    font-family: "RobotoLight", Helvetica, Arial;
    background: url(img/header.png) center center no-repeat;
    
}
header {
    display: block; /* Для старых браузеров */
    height: 75px; /* Высота шапки */
    background: url(img/header.png) center center no-repeat;
    
   }
