
.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper {
  width: 275px;
  height: 505px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid;
  border-color: #f2f2f2;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);

}

.wrapper .bottom {
  width: 200%;
  height: 100%;
  transition: transform 0.5s;
  position: absolute;
  background: #f2f2f2;
}

.wrapper .container .bottom .left {
  max-height: 1px;
  width: 50%;
  position: relative;
}
.wrapper .container .bottom .left .details {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 100%;
    text-decoration: none;
    position: relative;
    text-align: left;
    font-size: 20px;
}

.name{
    font-size: 23px;
}

.details_id{
    text-decoration: none;
    margin-left: 10px;
}

.a{
    text-decoration: none;
}
