
.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper {
  width: 313px;
  height: 430px;
  background: white;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid;
  border-color: #f2f2f2;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1;
}
.wrapper:hover {
  transform: scale(1);

}

.wrapper .container .bottom {
  width: 201%;

  transition: transform 0.5s;
}

.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 150px;
  width: 50%;
  background: #ededed;
  position: relative;
  border-radius: 10px 10px 10px 10px;
}
.wrapper .container .bottom .left .details {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 100%;
    text-decoration: none;
    position: relative;
    text-align: left;
    font-size: 20px;
}

.name{
    font-size: 23px;
}

.details_id{
    text-decoration: none;
    margin-left: 10px;
}

.a{
    text-decoration: none;
}
